.background {
  background-image: url("https://bloximages.chicago2.vip.townnews.com/missoulian.com/content/tncms/assets/v3/editorial/5/aa/5aa9642f-e19b-5cb8-91b8-e07165f99a3b/59a05d725869b.image.jpg?resize=1200%2C800");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.cards {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-top: 30px;
}

.eachCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgba(0, 56, 160, 0.5);
  margin-bottom: 20px;
  border-radius: 5px;
}

.eachCard:hover {
  transform: translateY(0) scale(1.2);
  background-color: #1eb7f400;
  color: black;
  text-decoration: underline;
  transition: 0.3s;
}

.countryName {
  margin: 10px;
  width: 230px;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.continent {
  margin-top: 0px;
  line-height: 10px;
}

.flags {
  width: 250px;
  height: 125px;
  object-fit: cover;
  border-radius: 5px;
  background-size: cover;
}

.homebody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  padding: 7px;
  margin: 10px;
  margin-top: 25px;
  background-color: rgba(0, 56, 160, 0.5);
}

.numbtn {
  background-color: transparent;
  border: transparent;
  border-radius: 10px;
  font-size: 22px;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
  font-family: inherit;
}

.numbtn:hover {
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.numbtn:focus {
  color: black;
}

.nfTitle {
  font-size: 75px;
}

.nfDesc {
  font-size: 30px;
}
